node_modules/
dist/
dist-*/
.codex-temp/
.android-sdk/
.gradle-home/
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
tools/android-sdk/
tools/gradle-*/
tools/jdk-*/
tools/*.zip
*.log
*.p12
*.pfx
*.jks
*.keystore
pause.txt
certs/

android/build/
android/app/build/
android-signing/

mobile-cordova/node_modules/
mobile-cordova/platforms/
mobile-cordova/plugins/
mobile-cordova/www/nodejs-project/node_modules/
mobile-cordova/build.json
mobile-cordova/platforms/android/release-signing.properties
