node_modules/
dist/
dist-*/
release-assets/
.codex-temp/
.android-sdk/
.gradle-home/
tools/
coverage/
package-lock.json

android/
mobile-cordova/www/
mobile-cordova/platforms/
mobile-cordova/plugins/
mobile-cordova/node_modules/
mobile-cordova/package-lock.json
mobile-cordova/nodejs-project/package-lock.json
mobile-cordova/nodejs-project/node_modules/
mobile-cordova-src/nodejs-project/node_modules/
